<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Users</title>
</head>
<body>
    <h1>Edit User {{ user.id }}</h1>
    <form action='/users/{{user.id}}/update' method='post'>
        {% csrf_token %}
        <p>First name:<br>
        <input type='text' name='first_name' value='{{user.first_name}}'></p>
        <p>Last name:<br>
        <input type='text' name='last_name' value='{{user.last_name}}'></p>
        <p>Email:<br>
        <input type='text' name='email' value='{{user.email}}'></p>
        <input type='submit' value='Update'>
    </form>
    <br>
    <a href='/users/{{user.id}}'>Show</a> | <a href='/'>Go Back</a>
</body>
</html>